h1 {
  color: red;
  font-family: 'Alegreya', serif;
  font-size: 50px;
}

h2 {
  color: red;
  font-family: 'Alegreya', serif;
  font-size: 40px;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

p {
  width: 70%;
  font-family: 'Work Sans', sans-serif;
}

p.rating {
  font-weight: bold;
  font-size: 20px;
}

img.resize-30 {
  max-width:30%;
  max-height:30%;
}

img.resize-30 {
  max-width: 30%;
  max-height: 30%;
}

img.resize-40 {
  max-width: 40%;
  max-height: 40%;
}

.movie-title {
  font-style: italic;
}


.inline-rating {
  font-style: italic;
}
