h1 {
  color: red;
  font-family: 'Alegreya', serif;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: red;
  font-family: 'Alegreya', serif;
  font-size: 25px;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
}

p {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.3em;
  margin-right: 18px;
}

p.rating {
  font-weight: bold;
  font-size: 18px;
}

p.subhead {
  width: 100%;
  font-size: 20px;
  text-align: center;
}


.movie-title {
  font-style: italic;
}

.inline-rating {
  font-style: italic;
}

.gallery {
  display: grid;
  padding: 10%;
  padding-top: 5%;
  grid-column-gap: 15%;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

img.gallery {
  max-height: 50%;
  padding-top: 5%;
  padding-left: 0px;
  padding-bottom: 1%;
  text-align: center;
}

.responsive {
  width: 100%;
  max-width: 350px;
  height: auto;
  align-self: center;
}

.item {
  font-size: 15px;
  padding-bottom: 15%;
}

/*layout styles*/

@media (min-width: 620px) {
  main {
    column-count: 2;
    column-gap: 20px;
  }

  section {
    break-inside: avoid;
  }
}

@media (min-width: 960px) {
  main {
     column-count: 3;
  }
}
